*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black
}
.head1{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    color: white;
  transition-property: all;
  transition-duration: 1s;
}
.head3{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.head2{
    display: flex;
    justify-content: center;
    margin: 30px;
    color: white;
}
.head4{
    text-align: center;
    color: white;
}
.head5{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 20px;
    color: white;
}
.head6{
    
    background-color:blue ;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
.head7{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
}
.head8{
display: flex;
justify-content: space-between;
padding: 20px;
color: white;
}
.textsize{
    font-size: 20px;
    color: white;

}
.head9{
    display: flex;
    gap: 1em;
    padding: 0px 20px ;
    color: white;
}
.image{
    border-radius: 50%;
}
.head10{
    display: flex;
    justify-content: space-between;
    color: white;
}
.HEAD11{
    padding-left: 20px;
    color: white;
}
.head12{
    display: flex;
    gap: 1em;
}
  .head13{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
   
  }
 .head14{
    padding: 20px;
    margin: 20px;
    transition-property: all;
    transition-duration: 1s;
    border-radius: 30px;
  }
  .head14:hover {
    box-shadow: 2px 2px 2px 2px #ccc;
    transform: scale(1.1);
    cursor: pointer;
  }
.head15{
    border-radius: 10px;
}
@media (max-width:990px) 
{
    .head15{
        width: 350px;
    }
    .head1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;

    }
}   
.java{
    display: flex;
    justify-content: center;
}
#key{
margin-top:-20px;
font-style: italic;
color: green;
font-weight: bolder;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
i{
    font-size: 12px;
    justify-content: center;
    align-items: center;
    color: white;
}
.java2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head3{
  transition-property: all;
  transition-duration: 1s;
}

.head3:hover {
  transform: scale(1.2);
}
a{
    display: flex;
    text-decoration: none;
    list-style: none;
}
ul{
    margin-left: 70px;
    display: flex;
    gap: 1em;
    margin-bottom: 10px;
}
marquee{
    color: white;
}
.head1:hover{
    transform: skew(15deg)
}
span{
    color: blue;
}
.textsize:hover {
     transform: scale(1.05);
    font-weight: bold;
}

























